body {
  background-color: #f5f5f5; /* Light gray background color for the body */
}

.app-container {
  max-width: 80vw;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app-heading {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ff4081; /* Pink color for the heading */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  animation: fadeIn 1s ease-in-out;
}

.post-container {
  background-color: #e3f2fd; /* Light blue background color for the post container */
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #009688; /* Teal color for the headings */
}

p {
  font-size: 16px;
  margin-bottom: 0;
}

/* Animation for post-container */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.post-container {
  animation: slideIn 1s ease-in-out;
}

/* Animation for app-heading and h2 */
@keyframes fadeScaleIn {
   0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.app-heading, h2 {
  animation: fadeScaleIn 1s ease-in-out;
}
